body{
    background: rgb(0, 68, 255);
}


.header{
    color: rgb(0, 195, 255);
    background: rgb(255, 255, 255);
    padding: 2% 2% 2% 2%;
    border: 10px solid gray;
    margin: 0.5%;
}

#h1{
    color: black;
    font-size: large;
    font-style: italic;
}
#h2, #h3{
    color: gray;
    font-size: medium;
    font-style: italic;
}