body{
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
}

.container{
    width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 500px;
    width: 500px;
    background-image: url('../images/pefil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter:grayscale(1);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h3{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p{
    font-size: 0;
    visibility: hidden;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;    
}
.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before{
    height: 300px;
    width: 400px;
    opacity: 1;
}

.card:hover >.card-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}