/* -->   BODY   <-- */
body{
    background: rgb(0, 61, 117);
    color: rgb(19, 19, 19);
    text-align: center;
}
/* -->   UL   <-- */
ul{
/*  list-style-type: url("");*/
    list-style-position: inside;
    list-style-type:upper-alpha;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    text-transform:capitalize;
    text-decoration:dashed;
}
/* -->   OL   <-- */
ol{
    list-style-position: inside;
    list-style-type: square;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-transform: lowercase;
    text-decoration: line-through;
    color: rgb(99, 99, 99);
}
/* -->   LI   <-- */
li{
    list-style-type: upper-roman;
}
.li{
    list-style-type:upper-alpha;
}

