/* -->   BODY   <-- */
body{
    margin: 0;
    padding: 0;
    color: rgb(19, 19, 19);
    font-family: 'Times New Roman', Times, serif;
}
/* -->   MAIN   <-- */
.main{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(-50deg, rgb(0, 132, 255),rgb(0, 92, 179),rgb(0, 61, 117),rgb(0, 22, 43));
    background-size: 400%, 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: backgroundTransition 8s ease-in-out infinite;
}
/* -->   H1/H2   <-- */
h1, h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}
/* -->   SOCIAL   <-- */
.social-media{
    margin-top: 1rem;
    display: flex;
}
/* -->   A   <-- */
a{
    text-decoration: none;
    color: rgb(19, 19, 19);;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid rgb(19, 19, 19);;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}
a:hover{
    color: rgb(99, 99, 99);;
    background-color: rgb(19, 19, 19);;
}
/* -->   ANIMATION BACKGROUND   <-- */
@keyframes backgroundTransition{
    0%{
        background-position: 0% 80%;
    }
    50%{
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}