.elementPadding{
/*  padding: 0 0 0 0; */
    padding-left:   0%;
    padding-top:    0%;
    padding-right:  0%;
    padding-bottom: 0%;
}

.elementBackground{
/*  background-color: green; */
    background:green;
    background-image: url("");
    background-position: top;
}

.elementBorder{
/*  border-top-color: red;*/
    border-top:   1 dotted red;
    border-left:  1 dashed blue;
    border-right: 1 solid  green;
    border-left:  1 dotted yellow;
}

.elementBorderZero{
/*  border: 1 solid black; */
    border-width: 1;
    border-color: white;
    border-style: double;
    border-radius: 50%;
}

.elementMagin{
    margin: 0;
    margin-bottom: 5%;
}