body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
button {
    background-color:darkslategray;
    border: 10;
    color:black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table{
    border:1px solid black;
    background-color:white;
}
th, tr{
    border:1px solid black;
    background-color:royalblue;
}
th:hover, tr:hover {
    background-color:dodgerblue}