body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
}
button {
    background-color:darkslategray;
    border: 10;
    color:black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}